<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="" class="block">
    Type your password on english
    <input
      type="password"
      value=""
      placeholder="password"
      class="text-blue-800 mt-3 block border py-2 px-3 h-10 rounded-md w-56"
      formControlName="password"
    />
  </label>

  <app-password-strength
    [passwordToCheck]="password.value"
  ></app-password-strength>

  <button
    [disabled]="!form.valid"
    type="submit"
    class="border-2 rounded-md py-2 px-3 mt-4"
    [ngClass]="{
      'border-gray-500': !form.valid,
      'border-yellow-300': form.valid
    }"
  >
    Reset password
  </button>
</form>
